body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.6rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.stack {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.mountain{
    width: auto;
    max-width: 100%;
    height: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.profile-image {
    width: 25%;
    float: center;
    margin-right: 30px;
}

.skill-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.passion-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
}

.middle-container {
    margin: 100px 0px;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

hr {
    width: 5%;
    border-style: none;
    border-color: #EAF6F6;
    border-width: 5px;
    border-top-style: dotted;
    margin: 100px auto;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}

.copywrite {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

p {
    line-height: 2;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
